body {
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}

.header {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.87)),
  url('assets/map.jpg');
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-controls {
  color: white;
  width: 100%;
}

button {
  padding: 1em;
  border-radius: 5px;
  background-color: #ff4444;
  color: white;
  border: none;
}

.exif-section{
  max-width: 300px;
  width: 100%;
  border: 1px solid gray;
  box-shadow: 5px 5px rgba(128, 128, 128, 0.418);
  background-color: #fafafa;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

#exif-result{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}

iframe {
  width: 100%;
  height: 500px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1em 0;
  }

  iframe {
    width: 100%;
    height: 300px;
  }
}
