body {
  font-family: sans-serif;
  margin: 0;
  text-align: center;
}

.header {
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.87)),
  url('assets/map.jpg');
  background-position: center;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-controls {
  color: white;
  width: 100%;
}

button {
  padding: 1em;
  border-radius: 5px;
  background-color: #ff4444;
  color: white;
  border: none;
}

iframe {
  width: 100%;
  height: 500px;
}

@media only screen and (max-width: 600px) {
  .container {
    padding: 1em 0;
  }

  iframe {
    width: 100%;
    height: 300px;
  }
}
